/nbproject/private/
/node_modules/
project.xml
project.properties
.DS_Store
Thumbs.db
.buildpath
.project
.settings*
sftp-config.json
/deploy/
/build/
/wc-apidocs/

/logs/*
!/logs/.htaccess
deploy-to-wp-org.sh
