<?xml version="1.0"?>
<ruleset name="WordPress Coding Standards">
	<rule ref="WooCommerce-Core">
	</rule>

	<!-- Files to check -->
	<arg name="extensions" value="php"/>
	<file>.</file>

	<exclude-pattern>*/node_modules/*</exclude-pattern>
	<exclude-pattern>*/vendor/*</exclude-pattern>
	<exclude-pattern>*/tests/*</exclude-pattern>
	<exclude-pattern>*/assets/*</exclude-pattern>
	<exclude-pattern>*/dist/*</exclude-pattern>
	<exclude-pattern>*/languages/*</exclude-pattern>

	<config name="minimum_supported_wp_version" value="6.2"/>

	<!-- ensure we are using language features according to supported PHP versions -->
	<config name="testVersion" value="7.4-"/>
	<rule ref="PHPCompatibilityWP" />
	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array" value="woocommerce-accommodation-bookings" />
		</properties>
	</rule>

	<!-- Exclude the PHPCompatibilityWP ruleset -->
	<rule ref="PHPCompatibilityWP">
		<exclude name="PHPCompatibilityWP"/>
	</rule>
</ruleset>
