includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
    - phpstan-baseline.neon

parameters:
    level: 0
    phpVersion: 70400
    parallel:
        maximumNumberOfProcesses: 2
    paths:
        - woocommerce-accommodation-bookings.php
        - includes
    scanFiles:
        - vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php
        - vendor/php-stubs/woocommerce-stubs/woocommerce-packages-stubs.php
