parameters:
	ignoreErrors:
		-
			message: '#^Action callback returns array but should not return anything\.$#'
			identifier: return.void
			count: 1
			path: includes/admin/class-wc-accommodation-booking-admin-panels.php

		-
			message: '#^Instantiated class WC_Product_Booking not found\.$#'
			identifier: class.notFound
			count: 1
			path: includes/admin/class-wc-accommodation-booking-admin-panels.php

		-
			message: '#^Call to method admin_options\(\) on an unknown class WC_Bookings_Timezone_Settings\.$#'
			identifier: class.notFound
			count: 1
			path: includes/admin/class-wc-accommodation-booking-admin-product-settings.php

		-
			message: '#^Call to method get_option\(\) on an unknown class WC_Bookings_Timezone_Settings\.$#'
			identifier: class.notFound
			count: 1
			path: includes/admin/class-wc-accommodation-booking-admin-product-settings.php

		-
			message: '#^Call to method get_option_key\(\) on an unknown class WC_Bookings_Timezone_Settings\.$#'
			identifier: class.notFound
			count: 1
			path: includes/admin/class-wc-accommodation-booking-admin-product-settings.php

		-
			message: '#^Method WC_Accommodation_Booking_Admin_Product_Settings\:\:instance\(\) has invalid return type WC_Bookings_Timezone_Settings\.$#'
			identifier: class.notFound
			count: 1
			path: includes/admin/class-wc-accommodation-booking-admin-product-settings.php

		-
			message: '#^Cannot call method get_base_cost\(\) on WC_Product\|false\.$#'
			identifier: method.nonObject
			count: 1
			path: includes/admin/class-wc-accommodation-booking-rest-and-admin.php

		-
			message: '#^Call to an undefined method WC_Product_Accommodation_Booking\:\:has_restricted_days\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: includes/admin/views/html-accommodation-booking-availability.php

		-
			message: '#^Function wc_bookings_string_to_bool not found\.$#'
			identifier: function.notFound
			count: 2
			path: includes/admin/views/html-accommodation-booking-data.php

		-
			message: '#^Function wc_bookings_date_format not found\.$#'
			identifier: function.notFound
			count: 1
			path: includes/class-wc-accommodation-booking-cart-manager.php

		-
			message: '#^Call to an undefined method WC_Product_Accommodation_Booking\:\:get_id\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: includes/class-wc-accommodation-booking-date-picker.php

		-
			message: '#^Call to an undefined method WC_Product_Accommodation_Booking\:\:is_resource_assignment_type\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: includes/class-wc-accommodation-booking-date-picker.php

		-
			message: '#^Call to method get_blocks_in_range_for_day\(\) on an unknown class WC_Product_Booking\.$#'
			identifier: class.notFound
			count: 1
			path: includes/class-wc-accommodation-booking-date-picker.php

		-
			message: '#^Call to method get_duration_unit\(\) on an unknown class WC_Product_Booking\.$#'
			identifier: class.notFound
			count: 1
			path: includes/class-wc-accommodation-booking-date-picker.php

		-
			message: '#^Call to method get_id\(\) on an unknown class WC_Product_Booking\.$#'
			identifier: class.notFound
			count: 2
			path: includes/class-wc-accommodation-booking-date-picker.php

		-
			message: '#^Call to method has_resources\(\) on an unknown class WC_Product_Booking\.$#'
			identifier: class.notFound
			count: 1
			path: includes/class-wc-accommodation-booking-date-picker.php

		-
			message: '#^Call to method is_resource_assignment_type\(\) on an unknown class WC_Product_Booking\.$#'
			identifier: class.notFound
			count: 1
			path: includes/class-wc-accommodation-booking-date-picker.php

		-
			message: '#^Call to static method get_all_existing_bookings\(\) on an unknown class WC_Booking_Data_Store\.$#'
			identifier: class.notFound
			count: 1
			path: includes/class-wc-accommodation-booking-date-picker.php

		-
			message: '#^Call to static method get_all_existing_bookings\(\) on an unknown class WC_Bookings_Controller\.$#'
			identifier: class.notFound
			count: 1
			path: includes/class-wc-accommodation-booking-date-picker.php

		-
			message: '#^Callback expects 2 parameters, \$accepted_args is set to 3\.$#'
			identifier: arguments.count
			count: 1
			path: includes/class-wc-accommodation-booking-date-picker.php

		-
			message: '#^Function wc_bookings_get_time_slots not found\.$#'
			identifier: function.notFound
			count: 1
			path: includes/class-wc-accommodation-booking-date-picker.php

		-
			message: '#^Function wc_bookings_get_total_available_bookings_for_range not found\.$#'
			identifier: function.notFound
			count: 1
			path: includes/class-wc-accommodation-booking-date-picker.php

		-
			message: '#^Parameter \$product of method WC_Accommodation_Booking_Date_Picker\:\:add_accommodation_posted_data\(\) has invalid type WC_Product_Booking\.$#'
			identifier: class.notFound
			count: 1
			path: includes/class-wc-accommodation-booking-date-picker.php

		-
			message: '#^Parameter \$product of method WC_Accommodation_Booking_Date_Picker\:\:get_check_in_and_out_times\(\) has invalid type WC_Product_Booking\.$#'
			identifier: class.notFound
			count: 1
			path: includes/class-wc-accommodation-booking-date-picker.php

		-
			message: '#^Parameter \$product of method WC_Accommodation_Booking_Date_Picker\:\:get_product_resource_available_blocks_on_time\(\) has invalid type WC_Product_Booking\.$#'
			identifier: class.notFound
			count: 1
			path: includes/class-wc-accommodation-booking-date-picker.php

		-
			message: '#^Variable \$day might not be defined\.$#'
			identifier: variable.undefined
			count: 3
			path: includes/class-wc-accommodation-booking-date-picker.php

		-
			message: '#^Call to an undefined method WC_Order_Item\:\:get_product\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: includes/class-wc-accommodation-booking-order-manager.php

		-
			message: '#^Action callback returns array but should not return anything\.$#'
			identifier: return.void
			count: 1
			path: includes/class-wc-accommodation-booking-product-tabs.php

		-
			message: '#^Call to method get_product\(\) on an unknown class WC_Booking\.$#'
			identifier: class.notFound
			count: 1
			path: includes/class-wc-accommodation-booking.php

		-
			message: '#^Parameter \$booking of method WC_Accommodation_Booking\:\:disable_ics_formatting_for_accommodation\(\) has invalid type WC_Booking\.$#'
			identifier: class.notFound
			count: 1
			path: includes/class-wc-accommodation-booking.php

		-
			message: '#^Parameter \$product of method WC_Accommodation_Booking\:\:disable_overlapping_rates\(\) has invalid type WC_Product_Booking\.$#'
			identifier: class.notFound
			count: 1
			path: includes/class-wc-accommodation-booking.php

		-
			message: '#^Action callback returns bool\|WP_Error but should not return anything\.$#'
			identifier: return.void
			count: 1
			path: includes/class-wc-accommodation-bookings-plugin.php

		-
			message: '#^Call to an undefined method WC_Product\:\:get_person_types\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: includes/class-wc-accommodation-bookings-plugin.php

		-
			message: '#^Function wc_booking_get_script_dependencies not found\.$#'
			identifier: function.notFound
			count: 1
			path: includes/class-wc-accommodation-bookings-plugin.php

		-
			message: '#^Call to an undefined method WC_Product\:\:get_resource_base_costs\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: includes/class-wc-product-accommodation-booking-resource.php

		-
			message: '#^Call to an undefined method WC_Product\:\:get_resource_block_costs\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: includes/class-wc-product-accommodation-booking-resource.php

		-
			message: '#^Call to an undefined method WC_Product_Accommodation_Booking_Resource\:\:get_id\(\)\.$#'
			identifier: method.notFound
			count: 4
			path: includes/class-wc-product-accommodation-booking-resource.php

		-
			message: '#^Call to an undefined method WC_Product_Accommodation_Booking_Resource\:\:get_parent_id\(\)\.$#'
			identifier: method.notFound
			count: 4
			path: includes/class-wc-product-accommodation-booking-resource.php

		-
			message: '#^Call to an undefined method WC_Product_Accommodation_Booking\:\:check_availability_rules_against_time\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: includes/class-wc-product-accommodation-booking.php

		-
			message: '#^Call to an undefined method WC_Product_Accommodation_Booking\:\:get_blocks_in_range_for_day\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: includes/class-wc-product-accommodation-booking.php

		-
			message: '#^Call to an undefined method WC_Product_Accommodation_Booking\:\:get_display_cost\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: includes/class-wc-product-accommodation-booking.php

		-
			message: '#^Call to an undefined method WC_Product_Accommodation_Booking\:\:get_id\(\)\.$#'
			identifier: method.notFound
			count: 3
			path: includes/class-wc-product-accommodation-booking.php

		-
			message: '#^Call to an undefined method WC_Product_Accommodation_Booking\:\:get_min_duration\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: includes/class-wc-product-accommodation-booking.php

		-
			message: '#^Call to an undefined method WC_Product_Accommodation_Booking\:\:get_price\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: includes/class-wc-product-accommodation-booking.php

		-
			message: '#^Call to an undefined method WC_Product_Accommodation_Booking\:\:get_price_suffix\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: includes/class-wc-product-accommodation-booking.php

		-
			message: '#^Call to an undefined method WC_Product_Accommodation_Booking\:\:get_prop\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: includes/class-wc-product-accommodation-booking.php

		-
			message: '#^Call to an undefined method WC_Product_Accommodation_Booking\:\:get_qty\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: includes/class-wc-product-accommodation-booking.php

		-
			message: '#^Call to an undefined method WC_Product_Accommodation_Booking\:\:get_resource_ids\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: includes/class-wc-product-accommodation-booking.php

		-
			message: '#^Call to an undefined method WC_Product_Accommodation_Booking\:\:has_person_qty_multiplier\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: includes/class-wc-product-accommodation-booking.php

		-
			message: '#^Call to an undefined method WC_Product_Accommodation_Booking\:\:has_resources\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: includes/class-wc-product-accommodation-booking.php

		-
			message: '#^Call to method get_id\(\) on an unknown class WC_Product_Booking_Resource\.$#'
			identifier: class.notFound
			count: 2
			path: includes/class-wc-product-accommodation-booking.php

		-
			message: '#^Call to method get_qty\(\) on an unknown class WC_Product_Booking_Resource\.$#'
			identifier: class.notFound
			count: 1
			path: includes/class-wc-product-accommodation-booking.php

		-
			message: '#^Call to method has_qty\(\) on an unknown class WC_Product_Booking_Resource\.$#'
			identifier: class.notFound
			count: 1
			path: includes/class-wc-product-accommodation-booking.php

		-
			message: '#^Call to static method get_all_existing_bookings\(\) on an unknown class WC_Booking_Data_Store\.$#'
			identifier: class.notFound
			count: 1
			path: includes/class-wc-product-accommodation-booking.php

		-
			message: '#^Call to static method get_all_existing_bookings\(\) on an unknown class WC_Bookings_Controller\.$#'
			identifier: class.notFound
			count: 1
			path: includes/class-wc-product-accommodation-booking.php

		-
			message: '#^Class WC_Product_Accommodation_Booking_Resource does not have a constructor and must be instantiated without any parameters\.$#'
			identifier: new.noConstructor
			count: 2
			path: includes/class-wc-product-accommodation-booking.php

		-
			message: '#^Method WC_Product_Accommodation_Booking\:\:get_resource\(\) has invalid return type WC_Product_Booking_Resource\.$#'
			identifier: class.notFound
			count: 1
			path: includes/class-wc-product-accommodation-booking.php

		-
			message: '#^PHPDoc tag @param references unknown parameter\: \$intervals$#'
			identifier: parameter.notFound
			count: 1
			path: includes/class-wc-product-accommodation-booking.php

		-
			message: '#^WC_Product_Accommodation_Booking\:\:__construct\(\) calls parent\:\:__construct\(\) but WC_Product_Accommodation_Booking does not extend any class\.$#'
			identifier: class.noParent
			count: 1
			path: includes/class-wc-product-accommodation-booking.php

		-
			message: '#^WC_Product_Accommodation_Booking\:\:get_resource\(\) calls parent\:\:get_resource\(\) but WC_Product_Accommodation_Booking does not extend any class\.$#'
			identifier: class.noParent
			count: 1
			path: includes/class-wc-product-accommodation-booking.php
