.product-type-accommodation-booking {
	.wc-bookings-date-picker {
		position: relative;
		padding-top: 55px;

		&::after {
			content: attr(data-content);
			position: absolute;
			background: #fff;
			margin: 10px 20px;
			font-size: 12px;
			left: 0;
			right: 0;
			text-align: center;
			text-transform: uppercase;
			height: 35px;
			line-height: 35px;
		}

		.picker.hasDatepicker {
			margin: 0;
			position: static !important;

			.ui-datepicker {
				.ui-datepicker-title {
					font-size: 18px;
					text-align: left;
					margin-left: 60px;
				}
			}
		}
	}
}