<?xml version="1.0" encoding="UTF-8"?>
<!-- Tests that need only Composer classes and repository files: no WordPress, WooCommerce or database. -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="../../vendor/autoload.php" backupGlobals="false" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" convertDeprecationsToExceptions="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <testsuites>
    <testsuite name="isolated">
      <directory prefix="test-" suffix=".php">.</directory>
    </testsuite>
  </testsuites>
</phpunit>
